/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  color: #3498db;
}

a:hover {
  color: #3498db;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  background: #3498db;
}

.back-to-top:hover {
  background: #3498db;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header .logo a span {
  color: #3498db;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu > ul > li {
  padding: 10px 0 10px 20px;
}

@media (max-width: 1200px) {
  .nav-menu ul {
    margin: 0 0 0 -30px;
  }
}

/* Desktop Navigation */
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #3498db;
}

.nav-menu .drop-down ul {
  border-top: 2px solid #3498db;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #3498db;
}

/* Mobile Navigation */
.mobile-nav-toggle i {
  color: #3498db;
}

@media (min-width: 768px) {
  .mobile-nav-toggle {
    top: 28px;
  }
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #3498db;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-left: 7px;
}

.header-social-links a:hover {
  color: #3498db;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero .carousel-content {
  border-top: 5px solid #3498db;
}

#hero .btn-get-started {
  border: 2px solid #3498db;
}

#hero .btn-get-started:hover {
  background: #3498db;
}

#hero .carousel-indicators li.active {
  background: #3498db;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-title h2::after {
  background: #3498db;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  background: #3498db;
}

/*--------------------------------------------------------------
# Activities
--------------------------------------------------------------*/
.services div.ads {
  border-left: 3px solid #3498db;
}

.services div.ads h2,
.services div.news h2 {
  border-bottom: 3px solid #3498db;
  margin-bottom: 10px;
}

.services div.ads div[class="col-lg-5 col-sm-2"] {
  padding: 5px;
}

.services div.ads div[class="col-7"] {
  padding: 10px;
  background-color: #3498db;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .services div.ads {
    margin-top: 50px;
    padding: 30px;
    border-left: 0;
    border-right: 0;
    border-top: 3px solid transparent;
  }

  .services div.ads img {
    width: 100px;
  }
}

/*--------------------------------------------------------------
# Register
--------------------------------------------------------------*/
#jumbotron {
  background-image: url(../assets/img/blog-3.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#jumbotron h1{
  color: #fffffff0;
  font-weight: bold;
  padding: 10px;
}

#jumbotron p{
  color: #ffffffa1;
  padding: 10px 100px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer .footer-top .footer-links ul i {
  color: #3498db;
}

#footer .footer-newsletter form input[type="submit"] {
  background: #3498db;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #3498db;
}

#footer .social-links a:hover {
  background: #3498db;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: left;
}
