/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    direction: rtl;
  }
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Mobile Navigation */
  @media (min-width: 767px) {
    .mobile-nav-toggle {
      top: 29px;
    }
  }

  .mobile-nav .drop-down > a:after {
    padding-right: 10px;
    position: absolute;
    left: 15px;
  }

  /*--------------------------------------------------------------
  # Header Social Links
  --------------------------------------------------------------*/
  .header-social-links {
    border-left: 0;
  }

  .header-social-links::before {
    content: "|";
    color: #c4c4c4;
  }

  .header-social-links a {
    padding-right: 2px;
  }

  @media (max-width: 768px) {
    .header-social-links {
      padding: 0 0 0 0;
      border-left: 0;
    }
  }

/*--------------------------------------------------------------
# Activities
--------------------------------------------------------------*/
.services div.ads {
  border-right: 3px solid #3498db;
  border-left: 3px solid transparent;
}

.services div.ads h2,
.services div.news h2 {
  border-bottom: 3px solid #3498db;
  margin-bottom: 10px;
  text-align: right;
}

.services .news-btn,
.services .ads-btn {
  float: right;
}

@media (max-width: 991px) {
  .services div.ads {
    border-right: 0;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
}

/*--------------------------------------------------------------
# Counts (Vesperr)
--------------------------------------------------------------*/
.counts .content .count-box {
  text-align: right;
}

.counts .content .count-box i {
  float: right;
}

.counts .content .count-box span {
  margin-right: 50px;
}

.counts .content .count-box p {
  margin: 0 50px 0 0;
}

/*--------------------------------------------------------------
# Frequently Asked Questions (Medialab)
--------------------------------------------------------------*/
.faq .faq-list {
  text-align: right;
}

.faq .faq-list .icon-help {
  right: 15px;
  left: 0;
  color: #3498db;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  left: 0;
}

.bx-chevron-down:before {
  content: "\ea17";
  float: left;
}
.bx-chevron-up:before {
  content: "\ea24";
  float: left;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer h2,
#footer h4 {
  text-align: right;
}
#footer .bx-chevrons-right:before {
  content: "\ea1a";
}

#footer .social-links {
  text-align: left !important;
}

#footer div.text-md-left {
  text-align: right !important;
}
